body{
    background-color: #666;
}

.list {
    list-style: none;
}

ul{
    width: 600px;
}

li {
    display: flex;
    text-align: center;
    justify-content: start;
    border: 1px solid;
    border-radius: 5px;
    margin: 2.5px;
    background: #ccc;
    cursor: pointer;
}
li a{
    text-align: center;
    justify-content: center;
}
a {
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 2px 0 2px 10px;  
}

li:hover {
    background-color: coral;
    color: whitesmoke;
}

.playing{
    padding: 0 3px 0 3px;
    border-radius: 5px;
    background-color: coral;
    color: whitesmoke;
}
img{
    justify-content: left;
    width: 60px;
    height: 60px;
    margin: 3px;
    border: 1px solid;
    border-radius: 3px;
}

#footer {
    position: fixed;
    bottom: 0;
    margin: 10px;
}